
/* Your CSS goes here */

.even {
    color: red;
}

.odd {
    color: blue;
}

.image-thumb{
  margin: 2;

}

.image-half{
  width: 33%;
}

.body-padding{
  padding: 5;
}
label{
  font-size: 20%;
}

.title{
  font-weight: 900;
  font-size: 20%;
}
